<div class="bg-gray-800 text-white shadow-md fixed top-0 left-0 w-full z-10">
  <div class="container mx-auto flex justify-between items-center p-4">
    <a class="text-2xl font-bold hover:underline" routerLink="/productos">Tienda zapatillas</a>
    <div class="flex items-center space-x-6">
      <a routerLink="/login" class="text-blue-300 hover:text-blue-500 transition duration-200">Login</a>
      <a routerLink="/register" class="text-blue-300 hover:text-blue-500 transition duration-200">Registro</a>
      <a routerLink="/carrito"
      class="relative inline-flex items-center bg-gradient-to-r from-blue-500 to-blue-600 text-white px-6 py-3 rounded-full shadow-lg hover:from-blue-600 hover:to-blue-700 hover:shadow-xl transition-transform transform hover:scale-105">
       <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.344 2.672M7 13h10l4-8H5.672m4.672 8l-1 4m6 0l-1-4M6 16a1 1 0 100 2 1 1 0 000-2zm10 0a1 1 0 100 2 1 1 0 000-2z" />
       </svg>
       Carrito de Compras
   </a>
    </div>
  </div>
</div>