<h2 class="mb-5">Nuevo Usuario</h2>

<div class="row row-cols-3 justify-content-center">
    <form [formGroup]="form" (ngSubmit)="create()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
                formControlName="nombre" >
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                formControlName="email">
        </div>
        <div class="mb-3">
            <label for="contrasenia" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña"
                formControlName="contrasenia">
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-light" routerLink="/">
                Cancelar
            </button>
            <button type="submit" class="btn btn-primary ms-2">
                Crear Usuario
            </button>
        </div>
    
    </form>
</div>
