<h2 class="mb-5">Usuarios</h2>

<div class="text-end">
    <button class="btn btn-primary" routerLink="/new">
        Nuevo Usuario
    </button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nombreRol }}</td>
                <td>
                    <div>
                    <a class="btn btn-info btn-sm" [routerLink]="['/usuarios', user.id]">
                        Ver Detalles
                    </a>
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">
                        Eliminar
                    </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
