<h2 class="mb-5">Usuarios</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nombreRol }}</td>
                <td>
                    <a class="btn btn-info btn-sm" [routerLink]="['/usuarios', user.id]">
                        Ver Detalles
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
